.news-list{
    word-wrap: break-word;
    width: 100%;
    display: inline-block;
}
.news-list img.preview_picture{
    float:left;
    margin:0 4px 6px 0;
}
.news-date-time {
    color:#486DAA;
}
.news-list .news-item{
    width: 100%;
    display: inline-block;
}