

.delete {
  display: inline-block;
  background-image: url(send-to-trash.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tools {
  display: inline-block;
  background-image: url(tools.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.delete, .tools {
  width: 24px;
  height: 24px;

}
/*
.user-list .rub {
    font-size: 16px;
    font-weight: 900;
    border-bottom: 1px solid #000;
    position: relative;
    top: 5px;
}

*/