input[type="file"] {
     display: block !important; 
}

form[name="iblock_add"] input[type="button"], input[type="submit"] {
    padding: 11px 20px;
    border-radius: 22px;
    margin: 50px 0;
}