.file-block {
        display: table;
      }
      .file-div {
        background: transparent none repeat scroll 0 0;
        border: 2px solid #c2c2c2;
        border-radius: 5px;
        color: #555555;
        cursor: pointer;
        display: table-cell;
        font-size: 13px;
        height: 27px;
        outline: medium none;
        text-align: center;
        transition: all 0.3s ease 0s;
        vertical-align: middle;
        width: 125px;
      }
      .file-name {
        color: #dc112e;
        display: table-cell;
        font-size: 13px;
        height: 27px;
        text-align: right;
        vertical-align: middle;
        width: 125px;
      }
      .hidden {
        display: none;
        visibility: hidden;
      }


#wrapper{
  width: 60%;
  margin: 20px auto;
}
form button{
  margin-bottom: 50px;
}
input[type=text],
input[type=file]{
  margin-bottom: 20px;
}
 
/*#process {
  display: none;
}*/

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}
.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}
.checkbox:checked + label:before {
  background: #9FD468;
}
.checkbox:checked + label:after {
  left: 26px;
}
.checkbox:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}

input[type=password]{
    margin-bottom: 20px;
}